<li class="list-group-item p-0">
    <div class="checkbox align-bottom">
        <label class="m-1 pl-3">
            <input type="checkbox" value="{{categorie}}" id="cat" (change)="onCategoriesChange($event)">
            {{categorie}}
        </label>
    </div>
</li>
