.pictureText {
    position: relative;
    margin-left: 10px;
}

.pictureText img {
    display: block;
    max-height: 360px;
}

.pictureText span {
    color: white;
    background-color: hsla(0, 4%, 26%, 0.5);
    position: absolute;
    bottom: 70px;
    width: 100%;
    line-height: 2em;
    text-align: center;
}

.pictureText input {
    margin-top: 5px;
    margin-bottom: 5px;
}
