<link href="https://cdn.syncfusion.com/ej2/material.css" rel="stylesheet" />

<div class="container mt-5 mb-5 border border-warning rounded-8">
    <section class="my-5 pb-3">
        <form class="needs-validation">
            <div class="row">
                <div class="col-md-5 mr-3">
                    <div class="view zoom z-depth-2 rounded">
                        <div class="pictureText">
                            <img [src]="image" width="100%" (click)="UploadFileInput.click()">
                            <span>Upload Recipe-Picture</span>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile" name="uploadedImage" accept="image/x-png,image/gif,image/jpeg"
                                  (change)="onFileSelect($event)" #UploadFileInput>
                                <label class="custom-file-label" for="customFile">{{fileInputLabel || 'Choose File'}}</label>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="table-responsive">
                        <table class="table table-sm table-borderless mb-0 mt-1">
                            <tbody>
                                <tr>
                                    <th class="pl-0 w-25" scope="row">Title</th>
                                    <td class="d-flex align-items-center p-0 mb-2">
                                        <input [value]="title" (input)="title=$event.target.value" type="text"
                                            class="form-control" aria-describedby="inputGroup-sizing-sm"
                                            placeholder="Title" required>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="pl-0 w-25" scope="row">Categorie</th>
                                    <td class="d-flex align-items-center p-0 mb-2 border rounded"  style="height: 55px;">
                                        <div id="multiselect-categories" class="control-section w-100">
                                            <div id='content'>
                                                <div class="control-styles mx-2">
                                                    <ejs-multiselect id='categories-list' [dataSource]='categoriesData' [mode]='default' [fields]='fieldsCategorie'
                                                        [placeholder]='placeHolderCategories' required></ejs-multiselect>
                                                    <div class="invalid-feedback">Please enter valid categories!</div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="pl-0 w-25" scope="row">Tools</th>
                                    <td class="d-flex align-items-center p-0 mb-2 border rounded"  style="height: 55px;">
                                        <div id="multiselect-tools" class="control-section w-100">
                                            <div id='content'>
                                                <div class="control-styles mx-2">
                                                    <ejs-multiselect id='tools-list' [dataSource]='toolsData' [mode]='default' [fields]='fieldsTool'
                                                        [placeholder]='placeHolderTools'></ejs-multiselect>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="pl-0 w-25" scope="row">Duration</th>
                                    <td class="d-flex align-items-center p-0 mb-2">
                                        <input [value]="from_duration" (input)="from_duration=$event.target.value" type="number"
                                            class="form-control w-50 mr-1" aria-describedby="inputGroup-sizing-sm"
                                            placeholder="0" required>
                                        -
                                        <input [value]="to_duration" (input)="to_duration=$event.target.value" type="number"
                                            class="form-control w-50 ml-1 mr-1" aria-describedby="inputGroup-sizing-sm"
                                            placeholder="0" min="{{from_duration}}" required>
                                        min
                                    </td>
                                </tr>
                                <tr>
                                    <th class="pl-0 w-25 mb-2">Difficulty</th>
                                    <td class="p-0 pb-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" value="beginner" autocomplete="off" checked="checked">
                                                </div>
                                            </div>
                                            <label class="btn btn-outline-secondary form-control" for="btnradio1">
                                                beginner
                                            </label>
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" value="advanced" autocomplete="off">
                                                </div>
                                            </div>
                                            <label class="btn btn-outline-secondary form-control" for="btnradio2">
                                                advanced
                                            </label>
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" value="professional" autocomplete="off">
                                                </div>
                                            </div>
                                            <label class="btn btn-outline-secondary form-control" for="btnradio3">
                                                profess.
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr id="ingredients">
                                    <th class="pl-0 w-25" scope="row">Ingredients</th>
                                    <td class="p-0 pb-1 input-group" name="Ingredient" id="ingredient">
                                        <input #ingredientName type="text" class="form-control mb-1 w-25" name="name" placeholder="Name" id="iName">
                                        <input #ingredientAmount type="number" class="form-control mb-1" name="amount" placeholder="Amount" id="iAmount">
                                        <select #ingredientMeasurement class="custom-select" name="measurement">
                                            <option value="kilo">kilo</option>
                                            <option value="gram">gram</option>
                                            <option value="litre">litre</option>
                                            <option value="millilitre">millilitre</option>
                                            <option value="dekagram">dekagram</option>
                                            <option value="pound">pound</option>
                                            <option value="ounces">ounces</option>
                                            <option value="piece">piece</option>
                                        </select>
                                    </td>
                                </tr>
                                <button class="btn btn-sm btn-outline-warning mb-1 ml-1" (click)="addIngredient(ingredientName, ingredientAmount, ingredientMeasurement)">Add Ingredient</button>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <div class="table-responsive mb-2">
                        <h5>Alle Ingredients bitte für eine Person angeben!</h5>
                    </div>
                </div>
            </div>
            <hr>
            <div>
                <th class="pl-0 w-25" scope="row">Instructions</th>
                <ol class="text-ordinary" id="instruction">
                    <li class="pl-2">
                        <i class="text-secondary">
                            <input name="cookingInstruction" type="text" class="form-control"
                                aria-label="cookingInstructions" aria-describedby="inputGroup-sizing-sm"
                                placeholder="Step..." required>
                        </i>
                    </li>
                </ol>
                <button class="btn btn-sm btn-outline-warning ml-5" (click)="addStep()">Add Step</button>
            </div>
        </form>
        <button type="button" class="btn btn-success border-dark pull-right mt-2" id="addRecipeButton" (click)="addRecipeClick()">Add Recipe</button>
    </section>
</div>
