<footer class="footer text-center">
  <div class="container">
      <div class="row">
          <!-- Footer Location-->
          <div class="col-lg-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Austria</h4>
              <p class="lead mb-0">
                Cookies
                <br />
                Datenschutz
                <br />
                AGB
              </p>
          </div>
          <!-- Footer Social Icons-->
          <div class="col-lg-4 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-4">Around the Web</h4>
              <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/?lang=de"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a class="btn btn-outline-light btn-social mx-1" href="https://de-de.facebook.com/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
              <a class="btn btn-outline-light btn-social mx-1" href="https://www.reddit.com/"><i class="fa fa-reddit-square" aria-hidden="true"></i></a>
          </div>
          <!-- Footer About Text-->
          <div class="col-lg-4">
            <h4 class="text-uppercase mb-4">About Digital Cuisine</h4>
              <p class="lead mb-0">
                  As you can assume by the title,
                  <strong>"Digital Cuisine"</strong> is an online 
                  way to find recipes and copy them.
              </p>
          </div>
      </div>
  </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
  <div class="container"><small>Copyright © Digtial Cuisine</small></div>
</div>