<div class="card border-warning mb-4 ml-3">
    <div class="card-header">
        <div class="title"><strong>{{user.username}}</strong></div>
    </div>
    <div class="card-body text-warning">
        <div class="row">
            <div class="col-sm-8 mt-2">
                <ul class="card-text">
                    <li><strong>{{user.first_name}}</strong></li>
                    <li><strong>{{user.last_name}}</strong></li>
                    <li><strong>{{user.email}}</strong></li>
                </ul>
            </div>
            <div class="col-sm-4 mt-2 btn-group-vertical">
                <button type="button" class="btn btn-danger border-dark" (click)="deleteUserClick()">Delete</button>
                <button type="button" class="btn btn-success border-dark" [routerLink]="['/modify-user', user.username]">Edit</button>
            </div>
        </div>
    </div>
</div>
