<li class="list-group-item p-0">
    <div class="checkbox">
        <label class="m-1">
            <input type="checkbox" value="{{ingredient}}" id="ing" (change)="onIngredientChange($event)">
            {{ingredient}}
        </label>
    </div>
</li>