<div class="d-flex text-muted pt-3 pl-2">
  <img class="me-3 border border-warning rounded pic" src="{{recipe.picture}}" alt="">
  <div class="pb-3 mb-0 lh-sm mx-3 w-100 border border-warning rounded">
    <h5 class="text-center"><strong class="d-block text-dark font-weight-bold mt-5"><i class="fa fa-book"></i> - {{recipe.title}}</strong></h5>
    <hr class="w-100 mt-3">
    <div class="row">
      <p class="col-1"></p>
      <p class="col-3 font-weight-bold">{{recipe.categories}}</p>
      <p class="col-4 text-center text-dark">created by {{recipe.author.username}}</p>
      <p class="col-3 text-right font-weight-bold"><a [routerLink]="['/show-recipe', recipe.url]"><small class="text-secondary">More info...</small></a></p>
      <p class="col-1"></p>
    </div>
  </div>
</div>