<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" routerLink="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/recipes-list">Find Recipes<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/fridge">Fridge</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/favourites">Your Favourites</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" [routerLink]="['/user', username]">Profile</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link" routerLink="/admin">Admin</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/login">Login
        <i class="fa fa-user-circle-o" aria-hidden="true" (click)="logout()"></i>
        </a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" (click)="logout()">Logout
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" ng-controller="searchController">
      <input #searchtext class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-warning my-2 my-sm-0" type="submit" (click)="searchRecipes(searchtext.value)">Search</button>
    </form>
  </div>
</nav>