<div class="container mt-5 mb-5 border border-warning rounded-8 p-5">
    <div class="row">
        <div class="col-sm">
            <div class="view zoom z-depth-2 rounded">
                <div class="pictureText">
                    <span><strong>Change User Profilpicture</strong></span>
                    <img [src]="image" width="100%" class="avatar img-circle img-thumbnail" alt="avatar"
                        (click)="selectImage.click()">
                    <input [value]="profilePicture" (input)="profilePicture=$event.target.value" #imageInput type="file"
                        accept="image/x-png,image/gif,image/jpeg" (change)="updateImage($event, imageInput)"
                        #selectImage>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <form class="needs-validation">
                <div class="input-group input-group-lg mb-3 mt-4">
                    <div class="input-group-prepend w-25">
                        <span class="input-group-text w-100" id="inputGroup-sizing-lg"><strong>Username</strong></span>
                    </div>
                    <input [value]="username" (input)="username=$event.target.value" type="text" class="form-control" required>
                    <div class="valid-feedback">Valid username.</div>
                    <div class="invalid-feedback">Please enter a valid username!</div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend w-25">
                        <span class="input-group-text w-100" id="inputGroup-sizing-default">Email</span>
                    </div>
                    <input [value]="email" (input)="email=$event.target.value" type="email" class="form-control" required>
                    <div class="valid-feedback">Valid email.</div>
                    <div class="invalid-feedback">Please enter a valid email!</div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend w-25" for="validationCustom03">
                        <span class="input-group-text w-100" id="inputGroup-sizing-default">First Name</span>
                    </div>
                    <input [value]="first_name" (input)="first_name=$event.target.value" type="text" class="form-control" required>
                    <div class="valid-feedback">Valid firstname.</div>
                    <div class="invalid-feedback">Please enter a valid firstname!</div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend w-25">
                        <span class="input-group-text w-100" id="inputGroup-sizing-default">Last Name</span>
                    </div>
                    <input [value]="last_name" (input)="last_name=$event.target.value" type="text" class="form-control" required>
                    <div class="valid-feedback">Valid lastname.</div>
                    <div class="invalid-feedback">Please enter a valid lastname!</div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend w-25">
                        <span class="input-group-text w-100" id="inputGroup-sizing-default">Password</span>
                    </div>
                    <input [value]="password" (input)="password=$event.target.value" type="password" id="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                    <div class="valid-feedback">Valid password.</div>
                    <div class="invalid-feedback">Password requires: {{passwordCriteria}}</div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend w-25">
                        <span class="input-group-text w-100" id="inputGroup-sizing-default">Verify Passw.</span>
                    </div>
                    <input [value]="passwordVerify" (input)="passwordVerify=$event.target.value" type="password" class="form-control" pattern="{{password}}" required>
                    <div class="valid-feedback">Passwords match.</div>
                    <div class="invalid-feedback">Passwords do not match!</div>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="isAdmin" (change)="onIsAdminChage($event)">
                    <label class="custom-control-label" for="isAdmin">Is User Admin</label>
                </div>
            </form>
        </div>
    </div>
    <button type="submit" class="btn btn-success border-dark pull-right" id="addUserButton" (click)="addUserClick()">Add User</button>
</div>