<div class="d-flex justify-content-center align-items-center" style="min-height: 648px;">
    <div class="d-flex justify-content-center align-items-center mt-5">
        <div class="card">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item text-center">
                    <a class="nav-link active btl" id="login-tab" data-toggle="pill" href="#login" role="tab"
                        aria-controls="login" aria-selected="true">Login</a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link btr" id="register-tab" data-toggle="pill" href="#register" role="tab"
                        aria-controls="register" aria-selected="false">Signup</a>
                </li>
            </ul>
            <div class="d-flex justify-content-center mt-3">
                <i class="fa fa-user-circle-o fa-5x" aria-hidden="true"></i>
            </div>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                    <form class="needs-validation">
                        <div class="form px-4 pt-5">
                            <div>
                                <input [value]="username" (input)="username=$event.target.value" type="text" name="Name"
                                    class="form-control" placeholder="Name" required>
                                <div class="valid-feedback">Valid username.</div>
                                <div class="invalid-feedback">Please enter a valid username!</div>
                            </div>
                            <div>
                                <input [value]="password" (input)="password=$event.target.value" type="password"
                                    name="Password" class="form-control" placeholder="Password"
                                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                                <div class="valid-feedback">Valid password.</div>
                                <div class="invalid-feedback">Password requires: {{passwordCriteria}}</div>
                            </div>
                            <button class="btn btn-dark btn-block mb-2" (click)="loginClick()">Login</button>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                    <form class="needs-validation">
                        <div class="form px-4">
                            <div>
                                <input [value]="username" (input)="username=$event.target.value" type="text" name="Name"
                                    class="form-control" placeholder="Name" required>
                                <div class="valid-feedback">Valid username.</div>
                                <div class="invalid-feedback">Please enter a valid username!</div>
                            </div>
                            <div>
                                <input [value]="email" (input)="email=$event.target.value" type="email" name="Email"
                                    class="form-control" placeholder="Email" required>
                                <div class="valid-feedback">Valid email.</div>
                                <div class="invalid-feedback">Please enter a valid email!</div>
                            </div>
                            <div>
                                <input [value]="firstname" (input)="firstname=$event.target.value" type="text"
                                    name="Firstname" class="form-control" placeholder="Firstname" required>
                                <div class="valid-feedback">Valid firstname.</div>
                                <div class="invalid-feedback">Please enter a valid firstname!</div>
                            </div>
                            <div>
                                <input [value]="lastname" (input)="lastname=$event.target.value" type="text"
                                    name="Lastname" class="form-control" placeholder="Lastname" required>
                                <div class="valid-feedback">Valid lastname.</div>
                                <div class="invalid-feedback">Please enter a valid lastname!</div>
                            </div>
                            <div>
                                <input [value]="password" (input)="password=$event.target.value" type="password"
                                    name="Password" id="password" class="form-control" placeholder="Password"
                                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                                <div class="valid-feedback">Valid password.</div>
                                <div class="invalid-feedback">Password requires: {{passwordCriteria}}</div>
                            </div>
                            <div>
                                <input [value]="verifyPassword" (input)="verifyPassword=$event.target.value"
                                    type="password" name="VerifyPassword" class="form-control"
                                    placeholder="Verify Password" pattern="{{password}}" required>
                                <div class="valid-feedback">Passwords match.</div>
                                <div class="invalid-feedback">Passwords do not match!</div>
                                <button class="btn btn-dark btn-block mb-2" (click)="registerClick()">Signup</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>