<div class="card border-warning mb-3 mr-3">
    <div class="card-header">
        <div class="title"><strong>{{recipe.title}}</strong></div>
        <div class="author">{{recipe.author.username}}</div>
    </div>
    <div class="card-body text-warning">
        <div class="row">
            <div class="col-xs-6 col-sm-5 mt-2">
                <img class="me-3" src="{{recipe.picture}}" alt="" width="" height="">
            </div>
            <div class="col-xs-6 col-sm-5 mt-2">
                <ul class="card-text">
                    <li><strong>{{recipe.difficulty}}</strong></li>
                    <li><strong>{{recipe.from_duration}} - {{recipe.to_duration}} min</strong></li>
                    <li><strong>{{recipe.categories}}</strong></li>
                    <li><strong>{{recipe.tools}}</strong></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2 mt-2 btn-group-vertical">
                <button type="button" class="btn btn-danger border-dark" (click)="deleteRecipeClick()">Delete</button>
                <button type="button" class="btn btn-success border-dark" [routerLink]="['/modify-recipe', recipe.url]">Edit</button>
            </div>
        </div>
    </div>
</div>