.card {
    max-width: 80rem;
}

.title {
    display: block;
    text-align: left;
    float: left;
}

.author {
    display: block; 
    text-align: right;
}

button {
    max-height: 50px;
}

img {
    max-height: 150px;
}
