<div class="col my-4 px-4">
    <div class="card shadow-sm">
        <img class="bd-placeholder-img card-img-top" src="{{recipe.picture}}" alt="" width="100%" height="225">
        <div class="card-body">
            <h5>{{recipe.title}}</h5>
            <p class="card-text"><small>{{recipe.categories}}</small></p>
            <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">Dauer: {{recipe.from_duration}} - {{recipe.to_duration}} min</small>
                <a [routerLink]="['/show-recipe', recipe.url]"><small>More info...</small></a>
            </div>
        </div>
    </div>
</div>