<div class="container-fluid" style="min-height: 900px;">
    <div class="row content">
        <div class="col-sm-3 sidenav bgDark" style="min-height: 900px;">
            <div class="position-fixed" style="width: 20vw;">
                <div id="accordion">
                    <div class="row ml-2 mt-2 px-2">
                        <div class="w-100">
                            <div>
                                <div id="accordion" class="panel panel-primary behclick-panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title mt-2">Search Filter</h3>
                                    </div>
                                    <hr>
                                    <div class="bg">
                                        <div class="panel-body">
                                            <div class="panel-heading border border-dark p-2">
                                                <h5 class="panel-title" style="height: 15px;">
                                                    <a data-toggle="collapse" href="#collapse0" class="text-dark">
                                                        <i class="indicator fa fa-caret-down" aria-hidden="true"></i>
                                                        Ingredients
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapse0" class="panel-collapse collapse in border border-dark">
                                                <ul class="list-group">
                                                    <app-fridge-ingredients *ngFor="let i of ingredients" [ingredient]="i"></app-fridge-ingredients>
                                                </ul>
                                            </div>
                                            <div class="panel-heading border border-dark p-2">
                                                <h5 class="panel-title" style="height: 15px;">
                                                    <a data-toggle="collapse" href="#collapse1" class="text-dark">
                                                        <i class="indicator fa fa-caret-down" aria-hidden="true"></i>
                                                        Categories
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapse1" class="panel-collapse collapse in border border-dark">
                                                <ul class="list-group" style="overflow: hidden;">
                                                    <div class="row row-cols-md-2">
                                                        <app-fridge-categories *ngFor="let c of categories" [categorie]="c"></app-fridge-categories>
                                                    </div>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="container">
                <div class="col-1"></div>
                <div class="d-flex justify-content-center mt-3">
                    <h1>Recipes</h1>
                </div>
                <div class="row row-cols-md-3 mb-5">
                    <app-fridge-recipes *ngFor="let r of recipes" [recipe]="r"></app-fridge-recipes>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
</div>