<div class="py-5 lightBG">
    <div class="container-fluid">
        <div class="row m-5">
            <div class="col-1">

            </div>
            <div class="col-7 border border-warning rounded-8 mediumBG">
                <section class="my-5">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="view zoom z-depth-2 rounded">
                                <img class="img-fluid img-thumbnail" src="{{recipe.picture}}">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <h2>{{recipe.title}}<a class="btn pull-right pr-5" (click)="addToFavouritesClick(recipe)"
                                    *ngIf="isLoggedIn"><i class="fa fa-star-o fa-3x" id="star"></i></a></h2>
                            <p class="mb-2 text-muted text-uppercase">{{recipe.categories}}</p>
                            <div class="row">
                                <div class="table-responsive pl-4">
                                    <table class="table table-sm table-borderless mb-0 mt-2">
                                        <tbody>
                                            <tr>
                                                <th class="pl-0 w-25" scope="row" height="40px">Duration</th>
                                                <td>{{recipe.from_duration}} - {{recipe.to_duration}} min</td>
                                            </tr>
                                            <tr>
                                                <th class="pl-0 w-25" scope="row" height="40px">Difficulty</th>
                                                <td>{{recipe.difficulty}}</td>
                                            </tr>
                                            <tr>
                                                <th class="pl-0 w-25" scope="row" height="40px">Tools</th>
                                                <td>{{recipe.tools}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <p class="text-right display-4 mr-3 mt-5" style="font-size: x-large;">Made by {{recipe.author.username}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="">
                        <th class="pl-0 w-25" scope="row">Instructions</th>
                        <ol class="text-ordinary">
                            <app-show-steps *ngFor="let r of recipe.instruction" [instruction]="r">
                            </app-show-steps>
                        </ol>
                    </div>
                </section>
            </div>
            <div class="col-1">

            </div>
            <div class="col-3 border border-warning rounded-8 mediumBG">
                <h4 class="pl-2 pt-3 pb-2"><u>Ingredients:</u></h4>
                <div class="row">
                    <div class="pl-4 pr-4 table-responsive">
                        <table class="table mb-0">
                            <tbody>
                                <div>
                                    <app-show-ingredients *ngFor="let r of recipe.ingredients" [ingredient]="r">
                                    </app-show-ingredients>
                                    <tr class="mb-2">
                                        <th class="pl-0 w-100">Persons:</th>
                                        <td class="pl-0 w-25 text-right">
                                            <div class="def-number-input number-input mb-0 person">
                                                <button class="btn minus"
                                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()" (click)="onPersonamountChange()">
                                                    <i class="fa fa-minus" aria-hidden="true"></i></button>
                                                <input type="text" class="quantity lightBG border border-dark rounded text-center"
                                                    min="0" name="quantity" value="{{recipe.person_amount}}" id="inputPersonAmount"
                                                    type="number" (change)="onPersonamountChange()">
                                                <button class="btn plus"
                                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()" (click)="onPersonamountChange()">
                                                    <i class="fa fa-plus" aria-hidden="true"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="mediumBG pb-5 pt-4">
    <div class="container-fluid">
        <app-show-comments *ngFor="let r of recipe.ratings" [rating]="r"></app-show-comments>
    </div>
</div>
