.mediumBG {
    background-color: #f3dbb1;
}

.lightBG {
    background: #faf1e0;
}

.plus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.minus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity {
    max-width: 25%;
    min-width: 20%;
}

.person {
    display: flex;
    justify-content: flex-end;
}