<div class="py-5 recipe-list w-100" style="min-height: 648px;">
  <div class="container">
    <div class="btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-outline-danger">
        <input type="checkbox" autocomplete="off" (change)="onCheckboxChage($event, 'breakfast')" id="breakfast"> breakfast
      </label>
      <label class="btn btn-outline-danger">
        <input type="checkbox" autocomplete="off" (change)="onCheckboxChage($event, 'lunch')" id="lunch"> lunch
      </label>
      <label class="btn btn-outline-danger">
        <input type="checkbox" autocomplete="off" (change)="onCheckboxChage($event, 'dinner')" id="dinner"> dinner
      </label>
    </div>
    <div class="btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-outline-warning">
        <input type="checkbox" autocomplete="off" (change)="onCheckboxChage($event, 'casserole')" id="casserole"> casserole
      </label>
      <label class="btn btn-outline-warning">
        <input type="checkbox" autocomplete="off" (change)="onCheckboxChage($event, 'roast')" id="roast"> roast
      </label>
      <label class="btn btn-outline-warning">
        <input type="checkbox" autocomplete="off" (change)="onCheckboxChage($event, 'bread')" id="bread"> bread
      </label>
      <label class="btn btn-outline-warning">
        <input type="checkbox" autocomplete="off" (change)="onCheckboxChage($event, 'dip')" id="dip"> dip
      </label>
      <label class="btn btn-outline-warning">
        <input type="checkbox" autocomplete="off" (change)="onCheckboxChage($event, 'dressing')" id="dressing"> dressing
      </label>
      <label class="btn btn-outline-warning">
        <input type="checkbox" autocomplete="off" (change)="onCheckboxChage($event, 'ice_cream')" id="ice_cream"> ice-cream
      </label>
      <label class="btn btn-outline-warning">
        <input type="checkbox" autocomplete="off" (change)="onCheckboxChage($event, 'snack')" id="snack"> snack
      </label>
      <label class="btn btn-outline-warning">
        <input type="checkbox" autocomplete="off" (change)="onCheckboxChage($event, 'fish')" id="fish"> fish
      </label>
      <label class="btn btn-outline-warning">
        <input type="checkbox" autocomplete="off" (change)="onCheckboxChage($event, 'vegetable')" id="vegetable"> vegetable
      </label>
      <label class="btn btn-outline-warning">
        <input type="checkbox" autocomplete="off" (change)="onCheckboxChage($event, 'drink')" id="drink"> drink
      </label>
      <label class="btn btn-outline-warning">
        <input type="checkbox" autocomplete="off" (change)="onCheckboxChage($event, 'grills')" id="grills"> grills
      </label>
      <label class="btn btn-outline-warning">
        <input type="checkbox" autocomplete="off" (change)="onCheckboxChage($event, 'low_calorie')" id="low_calorie"> low-calorie
      </label>
      <label class="btn btn-outline-warning">
        <input type="checkbox" autocomplete="off" (change)="onCheckboxChage($event, 'sweets')" id="sweets"> sweets
      </label>
      <label class="btn btn-outline-warning">
        <input type="checkbox" autocomplete="off" (change)="onCheckboxChage($event, 'cake')" id="cake"> cake
      </label>
      <label class="btn btn-outline-warning">
        <input type="checkbox" autocomplete="off" (change)="onCheckboxChage($event, 'jam')" id="jam"> jam
      </label>
      <label class="btn btn-outline-warning">
        <input type="checkbox" autocomplete="off" (change)="onCheckboxChage($event, 'noodle')" id="noodle"> noodle
      </label>
      <label class="btn btn-outline-warning">
        <input type="checkbox" autocomplete="off" (change)="onCheckboxChage($event, 'pancake')" id="pancake"> pancake
      </label>
      <label class="btn btn-outline-warning">
        <input type="checkbox" autocomplete="off" (change)="onCheckboxChage($event, 'pizza')" id="pizza"> pizza
      </label>
      <label class="btn btn-outline-warning">
        <input type="checkbox" autocomplete="off" (change)="onCheckboxChage($event, 'cooky')" id="cooky"> cooky
      </label>
      <label class="btn btn-outline-warning">
        <input type="checkbox" autocomplete="off" (change)="onCheckboxChage($event, 'salad')" id="salad"> salad
      </label>
      <label class="btn btn-outline-warning">
        <input type="checkbox" autocomplete="off" (change)="onCheckboxChage($event, 'sauce') "id="sauce"> sauce
      </label>
      <label class="btn btn-outline-warning">
        <input type="checkbox" autocomplete="off" (change)="onCheckboxChage($event, 'soup')" id="soup"> soup
      </label>
      <label class="btn btn-outline-warning">
        <input type="checkbox" autocomplete="off" (change)="onCheckboxChage($event, 'wok')" id="wok"> wok
      </label>
    </div>
    <div class="row row-cols-md-3">
      <app-favourite-recipe *ngFor="let r of recipes" [recipe]="r"></app-favourite-recipe>
    </div>
  </div>
</div>