<div class="container my-5">
    <div class="border border-warning">
        <div class="row">
            <div class="col-sm-4 border-right border-warning" style="min-height: 680px;">
                <div class="text-center" style="margin-top: 50%;">
                    <h3>{{user.username}}</h3>
                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail"
                        alt="avatar">
                    <h6>Upload a different photo...</h6>
                    <input type="file" class="text-center center-block file-upload mb-3">
                    <button class="btn btn-outline-warning" data-toggle="modal" data-target="#changeDataModal" (click)="changeDataClick()">Edit your
                        Data</button>
                </div>
            </div>
            <div class="col-sm-8 p-0 pr-3">
                <span class="text-center">
                    <br>
                    <br>
                    <h2>Your Profile</h2>
                    <h5>here you can manage your data and recipes as you wish</h5>
                    <br>
                    <hr>
                </span>
                <ul class="nav nav-tabs mx-4 mt-2" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active text-dark" id="profile-tab" data-toggle="tab" href="#profile" role="tab">
                            Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" id="recipe-tab" data-toggle="tab" href="#recipe" role="tab">
                            Recipes
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active ml-5" id="profile" role="tabpanel"
                        aria-labelledby="profile-tab">

                        <form class="form mt-3">
                            <!--First Name-->
                            <div style="display: flex; flex-direction: row;">
                                <div class="form-group mr-5" style="width: 50%;">
                                    <label for="first_name">
                                        <h4>First name</h4>
                                    </label>
                                    <input type="text" class="form-control" name="first_name" id="first_name"
                                        placeholder="First name" value="{{user.first_name}}" readonly>
                                </div>
                                <!--Last Name-->
                                <div class="form-group mr-5" style="width: 50%;">
                                    <label for="last_name">
                                        <h4>Last name</h4>
                                    </label>
                                    <input type="text" class="form-control" name="last_name" id="last_name"
                                        placeholder="Last name" value="{{user.last_name}}" readonly>
                                </div>
                            </div>
                            <!--Username-->
                            <div class="form-group mr-5">
                                <label for="username">
                                    <h4>Username</h4>
                                </label>
                                <input type="text" class="form-control" name="username" id="username"
                                    placeholder="Username" value="{{user.username}}" readonly>
                            </div>
                            <!--Email-->
                            <div class="form-group mr-5">
                                <label for="email">
                                    <h4>Email</h4>
                                </label>
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="example@email.com" value="{{user.email}}" readonly>
                            </div>
                            <!--Description-->
                            <div class="form-group mr-5">
                                <label for="description">
                                    <h4>Description</h4>
                                </label>
                                <input type="text" class="form-control" name="description" id="description"
                                    placeholder="Description" value="{{user.description}}" readonly>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade mb-3 mx-4" id="recipe" role="tabpanel">
                        <h4 class="my-3">All your recipes: {{user.recipes.length}}</h4>
                        <div class="row row-cols-md-3">
                            <app-profile-recipe *ngFor="let r of user.recipes" [recipe]="r"></app-profile-recipe>
                        </div>
                        <button class="btn btn-success mt-2" id="addrecipeButton" (click)="addRecipeClick()">Add
                            Recipe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>











<!-- Modal -->
<div class="modal fade bd-example-modal-xl" id="changeDataModal" tabindex="-1" role="dialog"
    aria-labelledby="changeDataModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeDataModalLabel">Change your data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center align-items-center mt-1">
                    <div class="card">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item text-center">
                                <a class="nav-link active btl" id="data-tab" data-toggle="pill" href="#data" role="tab"
                                    aria-controls="data" aria-selected="true">Change data</a>
                            </li>
                            <li class="nav-item text-center">
                                <a class="nav-link btr" id="password-tab" data-toggle="pill" href="#password" role="tab"
                                    aria-controls="password" aria-selected="false">Change Password</a>
                            </li>
                        </ul>
                        <div class="d-flex justify-content-center mt-3">
                            <i class="fa fa-user-circle-o fa-5x" aria-hidden="true"></i>
                        </div>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="data" role="tabpanel" aria-labelledby="data-tab">
                                <form class="needs-validation">
                                    <div class="form px-4 pt-3">
                                        <div class="input-group input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"
                                                    id="inputGroup-sizing-default">Username</span>
                                            </div>
                                            <input [value]="username" (input)="username=$event.target.value" type="text"
                                                name="Name" class="form-control" placeholder="Username" required>
                                            <div class="valid-feedback">Valid username.</div>
                                            <div class="invalid-feedback">Please enter a valid username!</div>
                                        </div>
                                        <div class="input-group input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"
                                                    id="inputGroup-sizing-default">Email</span>
                                            </div>
                                            <input [value]="email" (input)="email=$event.target.value" type="email"
                                                name="Email" class="form-control" placeholder="Email" required>
                                            <div class="valid-feedback">Valid email.</div>
                                            <div class="invalid-feedback">Please enter a valid email!</div>
                                        </div>
                                        <div class="input-group input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"
                                                    id="inputGroup-sizing-default">Firstname</span>
                                            </div>
                                            <input [value]="first_name" (input)="first_name=$event.target.value"
                                                type="text" name="Firstname" class="form-control"
                                                placeholder="Firstname" required>
                                            <div class="valid-feedback">Valid firstname.</div>
                                            <div class="invalid-feedback">Please enter a valid firstname!</div>
                                        </div>
                                        <div class="input-group input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"
                                                    id="inputGroup-sizing-default">Lastname</span>
                                            </div>
                                            <input [value]="last_name" (input)="last_name=$event.target.value"
                                                type="text" name="Lastname" class="form-control" placeholder="Lastname"
                                                required>
                                            <div class="valid-feedback">Valid lastname.</div>
                                            <div class="invalid-feedback">Please enter a valid lastname!</div>
                                        </div>
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Description:</label>
                                            <textarea [value]="description" (input)="description=$event.target.value" class="form-control" id="message-text"></textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
                                <form class="needs-validation">
                                    <div class="form px-4">
                                        <div class="input-group input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"
                                                    id="inputGroup-sizing-default">New Password</span>
                                            </div>
                                            <input [value]="newPassword" (input)="newPassword=$event.target.value"
                                                type="password" name="NewPassword" id="newPassword" class="form-control"
                                                placeholder="New Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                                required>
                                            <div class="valid-feedback">Valid password.</div>
                                            <div class="invalid-feedback">New password requires: {{passwordCriteria}}
                                            </div>
                                        </div>
                                        <div class="input-group input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"
                                                    id="inputGroup-sizing-default">Verify new Password</span>
                                            </div>
                                            <input [value]="newPasswordVerify" (input)="newPasswordVerify=$event.target.value"
                                                type="password" name="VerifyPassword" class="form-control"
                                                placeholder="Verify new Password" pattern="{{newPassword}}" required>
                                            <div class="valid-feedback">Passwords match.</div>
                                            <div class="invalid-feedback">New passwords do not match!</div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveChangesClick()">Save changes</button>
            </div>
        </div>
    </div>
</div>