.side-profile {
    margin-top: 100px;
}

.card {
    width: 400px;
    margin-bottom: 50px;
}

.btr {
    border-top-right-radius: 5px !important
}

.btl {
    border-top-left-radius: 5px !important
}

.btn-dark {
    color: #fff;
    background-color: #3f444d;
    border-color: #000000
}

.btn-dark:hover {
    color: #fff;
    background-color: #2c2f35;
    border-color: #000000
}

.nav-pills {
    display: table !important;
    width: 100%
}

.nav-pills .nav-link {
    border-radius: 0px;
    border-bottom: 1px solid #1a212c40
}

.nav-item {
    display: table-cell;
    background: #5c66752e
}

.form {
    padding: 10px;
}

.form input {
    border-radius: 3px
}

.input-group {
    margin-top: 6px;
}

.form input:focus {
    box-shadow: none
}

.form button {
    margin-top: 20px
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #292929;
}

.nav-pills .nav-link, .nav-pills .show > .nav-link {
    color: rgb(0, 0, 0);
    background-color: #f3f3f3;
}