.card:hover {
    transform: translateY(-20px);
}

.card::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ecc57f, #e19d2b);
}

.card::after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ecc57f, #e19d2b);
    filter: blur(30px);
}

.card-img-top {
    padding: 10px;
    z-index: 10;
}

.card-body {
    z-index: 10;
}