<div class="container mt-5" style="min-height: 648px;">
    <div class="page-header row">
        <h1 class="col-10">Recipes : {{recipes.length}}</h1>
        <button class="nav-link btn btn-outline-warning col-md-2" routerLink="/add-recipe">Add Recipe</button>
    </div>
    <hr>
    <div class="col-sm-12 m-3">
        <app-management-recipes *ngFor="let r of recipes" [recipe]="r"></app-management-recipes>
    </div>
    <br>
    <div class="page-header row">
        <h1 class="col-10">Users : {{users.length}}</h1>
        <button class="nav-link btn btn-outline-warning col-md-2" routerLink="/add-user">Add User</button>
    </div>
    <hr>
    <div class="row row-cols-md-3">
        <app-management-users *ngFor="let r of users" [user]="r"></app-management-users>
    </div>
</div>