<div class="col my-2">
    <div class="card shadow-sm">
        <img class="bd-placeholder-img card-img-top" src="{{recipe.picture}}" alt="" width="100%" height="180">
        <div class="card-body">
            <h5>{{recipe.title}}</h5>
            <div class="d-flex justify-content-between align-items-center btn-group pt-2">
                <button class="btn btn-outline-success" [routerLink]="['/modify-recipe', recipe.url]">Edit</button>
                <button class="btn btn-outline-danger" (click)="deleteRecipeClick()">Delete</button>
            </div>
        </div>
    </div>
</div>