<header class="masthead text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Avatar Image-->
    <img class="masthead-avatar mb-5 imgrounded" src="assets/banner.png" alt="" />
    <!-- Masthead Heading-->
    <h1 class="masthead-heading text-uppercase mb-0">Digital Cuisine</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fa fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Masthead Subheading-->
    <p class="masthead-subheading font-weight-light mb-0">Breakfast - Brunch - Lunch - Dinner</p>
  </div>
</header>
<main class="container">
  <div class="my-5 p-3 bg-body rounded shadow-lg">
    <h4 class="border-bottom pb-2 mb-0">Recent added Receips</h4>
    <app-home-recipe *ngFor="let r of recipes" [recipe]="r"></app-home-recipe>
    <small class="d-block text-end mt-3">
      <hr>
      <a routerLink="/recipes-list">Find more...</a>
    </small>
  </div>
</main>