.masthead {
    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem;
    background-color: #ecc47f;
  }

.masthead .masthead-heading {
    font-size: 3.25rem;
    line-height: 3.25rem;
    text-shadow:
   -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;
  }

.masthead .masthead-subheading {
    font-size: 1.25rem;
    color: black;
  }

.masthead .masthead-avatar {
    width: 15rem;
    
  }

.imgrounded {
    -moz-border-radius: 80px 10px;
    border-radius: 80px 10px;
  }
  
@media (min-width: 992px) {
.masthead {
    padding-top: calc(6rem + 104px);
    padding-bottom: 6rem;
    }
.masthead .masthead-heading {
    font-size: 6rem;
    line-height: 4rem;
    }
.masthead .masthead-subheading {
    font-size: 1.5rem;
    color: black;
    }
}

.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50 !important;
  }

.divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
  }

.divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
  }

.divider-custom .divider-custom-icon {
    color: #2c3e50 !important;
    font-size: 2rem;
  }

.divider-custom.divider-light .divider-custom-line {
    background-color: #fff;
  }

.divider-custom.divider-light .divider-custom-icon {
    color: #fff !important;
  }